.container{
    max-width: 1400px;
    margin: auto;
    padding: 90px 20px 0px 20px;
}
.container .title{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-primary);
}
.container .title span:nth-child(2){
    display: flex;
    justify-content: center;
    gap: 15px;
}
.container .products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    grid-gap: 25px;
    padding: 20px 2px;
}
.container .products .product{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 10px;
    border: 0.1px solid var(--color-font-sixth);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px 1px var(--color-text-primary);
}
.container .products .product .img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container .products .product img{
    width: 250px;
    height: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}   
.container .products .product .data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.container .products .product .data .delete ion-icon:hover{
    cursor: pointer;
    color: #ff0000;
}
.container .products .product .data div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container .products .product .data div:nth-child(1) span:nth-child(2){
    font-size: 18px;
}
.container .products .product .data div:nth-child(1) span:nth-child(3){
    font-size: 15px;
}
.container .products .product .data div:nth-child(2){
    display: flex;
    gap: 10px;
}
.container .products .product .data div p{
    padding-top: 2px;
    color: var(--color-text-primary);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.container .products .product .data div .button, .container .products .product .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
}
.container .products .product .buttons{
    display: grid;
    align-items: center;
    padding: 0.7px 0px;
}
.container .products .product .buttons span{
    padding-top: 1px;
    font-size: 14.3px;
}
.container .products .product .buttons button:nth-child(1){
    background-color: var(--color-font-fifth);
    border: none;
    padding: 0px 3px;
    border-radius: 2px;
    margin-right: -3px;
}
.container .products .product .buttons button:nth-child(3){
    background-color: red;
    border: none;
    padding: 0px 3px;
    border-radius: 2px;
    margin-left: -3px;
}
.container .products .product .data div button:nth-child(2){
    border-radius: 25px;
    padding: 0px 10px 0px 5px;
    border: 0.1px solid var(--color-font-fifth);
    background-color: var(--color-font-primary);
}
.container .products .product .data div .button:nth-child(1){
    padding: 0px 11px 0px 7px;
    border: none;
    border-radius: 3px;
    background-color: red;
}
.container .products .product .data div .button span{
    padding-top: 0.5px;
    font-size: 14px;
}
.container .products .product .data div .button:nth-child(1) ion-icon{
    width: 15px;
    height: 15px;
}
.container .products .product span{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.3px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-primary);
} 
.container .products .product ion-icon{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
}
.container .products .product .data div .button:nth-child(2):hover{
    cursor: pointer;
    background-color: var(--color-font-fifth);
}
.container .products .product .data div .button:nth-child(1):hover span, .container .products .product .data div .button:nth-child(1):hover ion-icon{
    cursor: pointer;
    opacity: 0.8;
}
@media (max-width : 1100px){
    .container .products .product img{
        width: 200px;
        height: 150px;
    }  
}
@media (max-width : 900px){
    .container .products .product img{
        width: 220px;
        height: 150px;
    }  
}
@media (max-width : 550px){
    .container .products{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 20px;
        padding: 20px 0px;
    }
}
@media (max-width : 500px){
    .container .products .product{
        grid-template-columns: 1fr;
        box-shadow: 0 0 5px 0.5px var(--color-text-primary);
    }
    .container .products .product .img img{
        width: 100%;
    }
    .container .products .product .data{
        gap: 15px;
        padding: 0px;
    }
    .container .products .product .data div:nth-child(2){
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .container .products .product img{
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    } 
}
@media (max-width : 375px){
    .container{
        padding: 70px 10px 0px 10px;
        margin-bottom: -70px;
    }
    .container .title{
        padding: 0px;
        font-size: 22px;
    }
}